 <aside id="menuLateral">
    <a href="#" class="item active inicio">
        <div class="icone">
            <i class="fas fa-home"></i>
        </div>
        <div class="desc">Inicio</div>
    </a>
    <a href="#" class="item alta">
        <div class="icone">
            <i class="fas fa-fire"></i>
        </div>
        <div class="desc dw">Em Alta</div>
    </a>
    <a href="#" class="item subindo">
        <div class="icone">
            <i class="fas fa-chart-line"></i>
        </div>
        <div class="desc">Subindo</div>
    </a>
    <a href="#" class="item novo">
        <div class="icone">
            <i class="far fa-clock"></i>
        </div>
        <div class="desc">Novo</div>
    </a>
    <a id="btnSubscriptions" href="#" class="item canais active">
        <div class="icone">
            <i class="fas fa-star"></i>
        </div>
        <div class="desc">Inscrições</div>
        <button class="expand">
            <i class="fa fa-angle-up"></i>
            <i class="fa fa-angle-down" style="display:none;"></i>
        </button>
    </a>
    <div id="subscriptions" class="canais">
        <a href="#" class="canal">
            <div class="icone">
                <img src="~/img/nilce.jpg" alt="Cade a Chave">
                
            </div>
            <div class="desc">Cade a chave</div>
            <div class="warning"></div>
        </a>
        <a href="#" class="canal active">
            <div class="icone">
                <img src="~/img/testeconta.jpg" alt="Elon Musk">
            </div>
            <div class="desc">Elon Musk</div>
        </a>
        <a href="#" class="canal">
            <div class="icone">
                <img src="~/img/cellbit.jpg" alt="Elon Musk">
            </div>
            <div class="desc">Cellbit</div>
        </a>
    </div>
    <a id="btnComunidades" href="#" class="item comunidades">
        <div class="icone">
            <i class="far fa-smile"></i>
        </div>
        <div class="desc">Comunidades</div>
        <button class="expand">
            <i class="fa fa-angle-up" style="display: none;"></i>
            <i class="fa fa-angle-down"></i>
        </button>
    </a>
    <div id="comunidades" class="comunidades">
        <a href="#" class="comunidade">
            <div class="icone">
                <img src="~/img/ancap.jpg" alt="Ancaps">
            </div>
            <div class="desc">Cultura Libertária</div>
        </a>
        <a href="#" class="comunidade">
            <div class="icone">
                <img src="~/img/anime.jpg" alt="Animes">
            </div>
            <div class="desc">Animes</div>
        </a>
        <a href="#" class="comunidade active">
            <div class="icone">
                <img src="~/img/indie.png" alt="Indie">
            </div>
            <div class="desc">Músicas Indie</div>
        </a>
    </div>
    <footer>
        <button id="btnToggleMenu">
            <i class="fa fa-angle-left"></i>
            <i class="fa fa-angle-right" style="display:none"></i>
        </button>
    </footer>
    <div id="rodape3" style="display:none;">
        <p id="copyright">WeShare -
            <span id="year">2019
                <img src="" width="60"/>
            </span>
        </p>
    </div>
</aside>