<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - WeShare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/fontawesome/css/all.min.css">
    @RenderSection("AddToHead", required: false)
</head>
<body style="height: 100%"> 
    @RenderBody()
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquerymask/src/jquery.mask.js"></script>
    <script src="~/lib/popper/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/validate.js"></script>
    @RenderSection("scripts", false)
   
</body>
</html>