@model string
<div id="searchArea">
    <form id="pesquisa" class="input-group" action="" method="GET">
        <input placeholder="Pesquise o video" class="form-control" type="search" name="search" id="search">
        <div class="input-group-append">
            <button class="btn btn-outline-light" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>