@model string
<button id="notification" class="btn">
    <i class="fas fa-bell"></i>
    <span class="badge badge-sm up bg-danger m-l-n-sm count" id="numdenoti">2</span>
    <div class="tab">
        <div class="item">
            <img class="profile" src="~/img/artemis.jpg" alt="artemis">
            <p>Artemis publicou <br><span class="videoTitle">Diga NÃO à família...</span></p>
            <div class="thumb">
                <img src="~/img/artemis_thumb.webp" alt="artemis">
            </div>
        </div>
        <div class="item">
            <img class="profile" src="~/img/cellbit.jpg" alt="cellbit">
            <p>Cellbit publicou <br><span class="videoTitle">CUBE ESCAPE #46</span></p>
            <div class="thumb">
                <img src="~/img/cellbit_thumb.webp" alt="cellbit">
            </div>
        </div>
    </div>
</button>