$black: #554949;
$white: #ffffff;
$panelColor:#394264;
$backColor: #0d0c1d;
$color1: rgb(23, 28, 92);
$color2: rgb(212, 25, 0);


$blue: #11a8ab;
$blue2: #117fab;

$g-blue: linear-gradient(45deg, $blue2,$blue)