@model WeShare.Web.Data.InscritosCanal

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>InscritosCanal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Canal" class="control-label"></label>
                <select asp-for="Canal" class="form-control" asp-items="ViewBag.Canal"></select>
                <span asp-validation-for="Canal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="User" class="form-control" asp-items="ViewBag.User"></select>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notificar" class="control-label"></label>
                <input asp-for="Notificar" class="form-control" />
                <span asp-validation-for="Notificar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

